:root {
    --color-fondo: #f5f1e6;
    --color-beige: #e4d6c3;
    --color-cafe-claro: #bfa58a;
    --color-cafe-oscuro: #6b4e35;
    --color-blanco: #ffffff;
    --color-texto: #4a3b30;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


.header {
    background-color: var(--color-beige);
    padding: 15px 0;
}

.menu.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-cafe-oscuro);
}
